extends layout

block append head
    if isso
        script(src=isso.embed data-isso-css=isso.css data-isso-lang=isso.lang)
        link(rel="stylesheet", href=assets("isso.css"))

block content
    div(class="paper")
        article
            h1 #{article.meta.title}
            != article.html
    if isso
        #isso-thread.isso-thread
