extends layout

block append head
    meta(property="og:title" content=`${article.meta.title} | ${config.title}`)
    meta(property="og:image" content=permalink(host, article.excerptImg))
    meta(property="og:description" content=article.excerptText)
    if isso
        include isso

block content
    .paper
        article
            h1 #{article.meta.title}
            p.meta #{formatDate(article.meta.date)}
            != article.html
    if isso
        #isso-thread.isso-thread
