extends layout

block append head
    meta(property="og:title" content=config.title)
    meta(property="og:image" content=`${permalink(host, firstTruely(oneOf(header.img), assets('header.jpg')))}`)
    meta(property="og:description" content=`${oneOf(header.motto.upper)}. ${oneOf(header.motto.lower)}.`)

block content
    each article in articles
        .paper
            article
                h1
                    a(class="title" href=`/article/${article.file.base}`)  #{article.meta.title}
                p.meta #{formatDate(article.meta.date)}
                !=article.excerpt
                if article.more
                    p.more
                        a(href=`/article/${article.file.base}`) - MORE -
    if pagination
        p.pagination
            if pagination.prev
                a.prev(href=`${pagination.prefix}/page/${pagination.prev}`)
                    span <
            if pagination.next
                a.next(href=`${pagination.prefix}/page/${pagination.next}`)
                    span >
