extends layout

block append head
    meta(property="og:title" content=config.title)
    meta(property="og:description" content=`${oneOf(header.motto.upper)}. ${oneOf(header.motto.lower)}.`)

block content
    if tag
        .tag-tip View articles under tag: #{tag}
    each article in articles
        .paper
            article(itemscope itemtype="http://schema.org/BlogPosting")
                header
                    h1.title
                        a(itemprop="name headline" href=`/article/${article.file.base}`)  #{article.meta.title}
                    p.meta
                        time(itemprop="datePublished" datetime=article.meta.date) #{formatDate(article.meta.date)}
                section(itemprop="description") !{article.excerpt}
                if article.more
                    p.more
                        a(href=`/article/${article.file.base}`) - MORE -
    if pagination
        p.pagination
            if pagination.prev
                a.prev(href=`${pagination.prefix}/page/${pagination.prev}`)
                    span #{'<'}
            if pagination.next
                a.next(href=`${pagination.prefix}/page/${pagination.next}`)
                    span #{'>'}
