extends layout

block content
    each article in articles
        .paper
            article
                h1
                    a(class="title" href=`/article/${article.file.base}`)  #{article.meta.title}
                p.meta #{formatDate(article.meta.date)}
                !=article.excerpt
                if article.more
                    p.more
                        a(href=`/article/${article.file.base}`) - MORE -
    if pagination
        p.pagination
            if pagination.prev
                a.prev(href=`/page/${pagination.prev}`)
                    span <
            if pagination.next
                a.next(href=`/page/${pagination.next}`)
                    span >

