extends layout

block content
    each article in articles
        div(class="paper")
            article
                h1
                    a(class="title" href=`/article/${article.file.base}`)  #{article.meta.title}
                p(class="meta") #{formatDate(article.meta.date)}
                !=article.excerpt
                if article.more
                    p(class="more")
                        a(href=`/article/${article.file.base}`) - MORE -
    if pagination
        p(class="pagination")
            if pagination.prev
                a(class="prev" href=`/page/${pagination.prev}`)
                    span <
            if pagination.next
                a(class="next" href=`/page/${pagination.next}`)
                    span >

