nav
    .nav-list
        each item in nav
            a(href=item.link) #{item.name}

div.header(style=`background-image:url(${firstTruely(oneOf(header.img), assets('header.jpg'))})`)
    .motto
        p.upper #{oneOf(header.motto.upper)}
        p.lower #{oneOf(header.motto.lower)}
