aside
    each group in side
        .side-box
            .side-box-header
                span #{group.name}
            each item in group.items
                .side-box-item
                    if item.text
                        if item.link
                            a(href=item.link target=(item.target || false)) #{item.text}
                        else 
                            span #{item.text}
                    else
                        .side-box-item!= item
